### Cluster Similar Categories

In [11]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import KMeans

categories = ['ARTS',
 'ARTS & CULTURE',
 'BLACK VOICES',
 'BUSINESS',
 'COLLEGE',
 'COMEDY',
 'CRIME',
 'CULTURE & ARTS',
 'DIVORCE',
 'EDUCATION',
 'ENTERTAINMENT',
 'ENVIRONMENT',
 'FIFTY',
 'FOOD & DRINK',
 'GOOD NEWS',
 'GREEN',
 'HEALTHY LIVING',
 'HOME & LIVING',
 'IMPACT',
 'LATINO VOICES',
 'MEDIA',
 'MONEY',
 'PARENTING',
 'PARENTS',
 'POLITICS',
 'QUEER VOICES',
 'RELIGION',
 'SCIENCE',
 'SPORTS',
 'STYLE',
 'STYLE & BEAUTY',
 'TASTE',
 'TECH',
 'THE WORLDPOST',
 'TRAVEL',
 'WEDDINGS',
 'WEIRD NEWS',
 'WELLNESS',
 'WOMEN',
 'WORLD NEWS',
 'WORLDPOST']


embedder = SentenceTransformer('all-mpnet-base-v2', device='cuda')

corpus_embeddings = embedder.encode(categories)

# Perform kmean clustering
num_clusters = 30
clustering_model = KMeans(n_clusters=num_clusters)
clustering_model.fit(corpus_embeddings)
cluster_assignment = clustering_model.labels_

clustered_sentences = [[] for i in range(num_clusters)]
for sentence_id, cluster_id in enumerate(cluster_assignment):
    clustered_sentences[cluster_id].append(categories[sentence_id])

clustered_sentences

[['ARTS', 'ARTS & CULTURE', 'CULTURE & ARTS'],
 ['WORLD NEWS'],
 ['POLITICS', 'RELIGION'],
 ['PARENTING', 'PARENTS'],
 ['BLACK VOICES', 'LATINO VOICES', 'QUEER VOICES'],
 ['HEALTHY LIVING', 'WELLNESS'],
 ['TASTE'],
 ['STYLE', 'STYLE & BEAUTY'],
 ['SPORTS'],
 ['COMEDY', 'ENTERTAINMENT'],
 ['WEIRD NEWS'],
 ['GREEN'],
 ['BUSINESS'],
 ['TECH'],
 ['TRAVEL'],
 ['FIFTY'],
 ['WOMEN'],
 ['IMPACT'],
 ['THE WORLDPOST', 'WORLDPOST'],
 ['COLLEGE', 'EDUCATION'],
 ['DIVORCE'],
 ['WEDDINGS'],
 ['MEDIA'],
 ['SCIENCE'],
 ['FOOD & DRINK'],
 ['ENVIRONMENT'],
 ['MONEY'],
 ['CRIME'],
 ['HOME & LIVING'],
 ['GOOD NEWS']]

In [22]:
import json
import pandas as pd
list_ = []
with open(r"C:\Users\samue\OneDrive - HKUST Connect\year 2 spring\UROP 1100\data\News_Category_Dataset_v2.json") as files:
    for file in files:
        list_.append(json.loads(file))
df = pd.DataFrame(list_)
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [12]:
[cluster for cluster in clustered_sentences if len(cluster) > 1]

[['ARTS', 'ARTS & CULTURE', 'CULTURE & ARTS'],
 ['POLITICS', 'RELIGION'],
 ['PARENTING', 'PARENTS'],
 ['BLACK VOICES', 'LATINO VOICES', 'QUEER VOICES'],
 ['HEALTHY LIVING', 'WELLNESS'],
 ['STYLE', 'STYLE & BEAUTY'],
 ['COMEDY', 'ENTERTAINMENT'],
 ['THE WORLDPOST', 'WORLDPOST'],
 ['COLLEGE', 'EDUCATION']]

In [23]:
clusters = [['ARTS', 'ARTS & CULTURE', 'CULTURE & ARTS'],
 ['POLITICS', 'RELIGION'],
 ['PARENTING', 'PARENTS'],
 ['BLACK VOICES', 'LATINO VOICES', 'QUEER VOICES'],
 ['HEALTHY LIVING', 'WELLNESS'],
 ['STYLE', 'STYLE & BEAUTY'],
 ['COMEDY', 'ENTERTAINMENT'],
 ['WORLD NEWS', 'THE WORLDPOST', 'WORLDPOST'],
 ['COLLEGE', 'EDUCATION']]

for ind, cluster in enumerate(clusters):
    for c in cluster[1:]:
        df['category'] = df['category'].str.replace(c, cluster[0])

In [24]:
df['category'].value_counts()

POLITICS          35295
HEALTHY LIVING    24521
COMEDY            21233
PARENTING         12632
BLACK VOICES      11971
STYLE             11903
TRAVEL             9887
WORLD NEWS         8420
FOOD & DRINK       6226
BUSINESS           5937
SPORTS             4884
HOME & LIVING      4195
ARTS               3878
WEDDINGS           3651
WOMEN              3490
IMPACT             3459
DIVORCE            3426
CRIME              3405
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
SCIENCE            2178
COLLEGE            2148
TASTE              2096
TECH               2082
MONEY              1707
FIFTY              1401
GOOD NEWS          1398
ENVIRONMENT        1323
Name: category, dtype: int64

29